extends layout 

block content 
    h1= title 

    if (toShow == null) 
        h2 No instance to delete 
    else
    - let icecreamid = toShow.icecream_id 
    - let icecreamName = toShow.icecreamName 
    - let icecreamF = toShow.icecreamF
    - let icecreamprice = toShow.icecreamprice

    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{icecream_id} 
    - let actionid = "/resource/icecreams/" + icecream_id 
    form(id='icecreamForm', action= actionid, method="PUT") 
        div.form-group 
            label.icecreamAttr(for='icecream_name') icecream_name 
            input#icecream_name(type='text' name='icecream_name', value= icecream_name ) 
        div.form-group 
            label.icecreamAttr(for='icecream_color') icecream_color
            input#icecream_color(type='text' name='icecream_color', value= icecream_color ) 
        div.form-group 
            label.icecreamAttr(for='icecream_size') icecream_size 
            input#icecream_size(type='number' name='icecream_size', value= icecream_size) 
        input(type="submit") 

    script. 
        document.forms['icecreamForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
            }); 
        });