body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icecreamAttr {
  background-color: aquamarine;
  width: 120px;
 }

 .data {
  border-bottom: 2px solid green;
  height: 30px;
  color: red;
  margin-left: 12px;
}

.detailData {
  border-bottom: 2px solid green;
  height: 30px;
  color: red;
  margin-left: 12px;
}